/* typography */

html {
	--text-color: #333;
	--quiet: #777;
	--font-size: 16px;
	--compact: 0.75em;
	--highlight: #1eaedb;
	--highlight-darker: #0fa0ce;
}

body {
	color: var(--text-color);
	font-size: var(--font-size);
	font-family: Helvetica, sans-serif;
	line-height: 1.25em;
}

.quiet {
	color: var(--quiet);
}

/* layout */
* + * {
	margin-top: 1.5em;
}

.link * + * {
	margin-top: var(--compact);
}

a {
	color: var(--highlight);
}

a:hover {
	opacity: 0.75;
}

a:visited {
	color: var(--highlight-darker);
}

ul li {
	margin-top: var(--compact);
}

ul.social {
	margin-top: var(--compact);
	padding-left: 0;
}

.social li {
	display: inline-block;
}

.container {
	padding: 1em;
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 2em;
}

/* desktop */
@media (min-width: 768px) {
	.container {
		display: flex;
	}

	header {
		min-width: 33%;
	}

	.fixed {
		position: sticky;
		top: 1.5em;
	}

	main {
		margin-top: 0;
	}

	.social li {
		display: list-item;
	}

	.social li {
		list-style: none;
	}

	.social li a:before {
		content: "";
		display: inline-block;
		height: 1.5em;
		vertical-align: middle;
		width: 1.5em;
	}

	.social li.twitter a:before {
		background-image: url(./img/Twitter_Logo_Blue.svg);
	}

	.social li.github a:before {
		background-image: url(./img/GitHub-Mark-32px.png);
		background-repeat: no-repeat;
		background-size: contain;
		height: 1em;
		width: 1.5em;
	}

	.social li.linkedin a:before {
		background-image: url(./img/linkedin.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	.social li.mastodon a:before {
		background-image: url("./img/Mastodon.svg");
		background-repeat: no-repeat;
		background-size: contain;
	}
}
