[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
bs4 = "*"
datasette = "*"
feed-to-sqlite = "*"
python-dateutil = "*"
flask = "*"
frozen-flask = "*"
markdown = "*"
httpx = "*"
sqlite-utils = "*"
python-frontmatter = "*"
pygments = "*"
feedgen = "*"

[requires]
python_version = "3.11"
