[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
dataset = "*"
feedparser = "*"
requests = "*"
Flask = "*"
Frozen-Flask = "*"
Markdown = "*"
datafreeze = "*"

[dev-packages]

[requires]
python_version = "3.7"
