{% extends "_base.html" %} {% block content %}
<main id="links" class="right">
	<h2 class="quiet">Reading list:</h2>
	{% for link in links %}
	<div class="link">
		<h3><a href="{{ link.link }}">{{ link.title }}</a></h3>
		<div class="date quiet">
			{{ link.published|date }} | {% if link.og.site_name %} {{ link.og.site_name }} {%
			else %} {{ link.link|urlparse }} {% endif %}
		</div>
		<div class="description">
			{{ link.description|d('', True)|striptags|truncate }}
			<a href="{{ link.link }}">More &rarr;</a>
		</div>
	</div>
	{% endfor %}
</main>
{% endblock content %}
