{% extends "_base.html" %}

{% block css %}
{{ super() }}
<style>
.fixed {
    position: fixed;
    width: inherit;
}

.link {
    margin-bottom: 3rem;
}

.quiet {
    color: #777;
}

ul.social li {
    display: inline-block;
    list-style-type: none;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div id="about" class="four columns">
        <div class="fixed">
            <h1>{{ CONTACT.name }}</h1>
            <h2 class="quiet">{{ CONTACT.tagline }}</h2>

            <ul class="social">
                {% for link in ['twitter', 'github', 'linkedin'] %}
                <li class="{{ link }}">
                    <a href="{{ CONTACT[link] }}" class="icon-{{ link }}">{{ link }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="links" class="eight columns u-pull-right">
        {% for link in links %}
        <div class="link">
            <h4><a href="{{ link.url }}">{{ link.title }}</a></h4>
            <div class="date quiet">
                {{ link.date|date }}
            </div>
            <div class="description">
                {{ link.description|d('', True)|striptags|truncate }}
                <a href="{{ link.url }}">More &rarr;</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}