{% extends "_base.html" %} {% block content %}
<main id="posts" class="right">
	<h2 class="quiet">Posts</h2>

	{% for post in posts %}
	<div class="link">
		<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
		<div class="date quiet">
			<time>{{ post.date|date }}</time>
		</div>
		{% if post.summary %}
		<div class="description">
			{{ post.summary|d('', True)|striptags|truncate }}
			<a href="{{ post.url }}">More &rarr;</a>
		</div>
		{% endif %}
	</div>
	{% endfor %}

	<div class="end">
		<a href="{{ url_for('portfolio') }}">Portfolio</a> |
		<a href="{{ url_for('index') }}">Home</a>
	</div>
</main>
{% endblock content %}
