{% extends "_base.html" %} {% block head %} {% if post.style %}
<style>
	{{ post.style|safe }}
</style>
{% endif %} {% endblock head %} {% block content %}
<article id="post" class="right">
	<h1>{{ post.title }}</h1>

	<div class="metadata">
		<p><time>{{ post.date|date }}</time></p>
	</div>
	<div class="content">{{ post.content|safe }}</div>

	<div class="end">
		<a href="{{ url_for('post_index') }}">Blog</a> |
		<a href="{{ url_for('portfolio') }}">Portfolio</a> |
		<a href="{{ url_for('index') }}">Home</a>
	</div>
</article>
{% endblock content %}
